!**/__pycache__/
benchmarking_tool/test.db
.env
.DS_Store

# default Flask gitignore
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Virtual environments
pollen_env/